
  <div class="row">
    <div class="col-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Amsterdam
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Amsterdam</button>
          <button class="dropdown-item" type="button">Utrecht</button>
          <button class="dropdown-item" type="button">Groningen</button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <a href=""><img src="../assets/images/lime-scooter.jfif" height="200" class="d-inline-block align-top"
                      alt="Lime Scooter"></a>
      <a href=""><img src="../assets/images/link-scooter.jpeg" height="200" class="d-inline-block align-top"
                      alt="Link Scooter"></a>
      <a href=""><img src="../assets/images/tier-scooter.jpg" height="200" class="d-inline-block align-top"
                      alt="Tier Scooter"></a>
      <a href=""><img src="../assets/images/bird-scooter.png" height="200" class="d-inline-block align-top"
                      alt="Bird Scooter"></a>
    </div>
    <div class="col-2">
      <b>Lime Scooter</b>
      Lime is your ideal carbon-free option for any trip, any time, anywhere.
    <hr>
      <button class="btn btn-primary">
        Subscribe
      </button>
    </div>
  </div>

