<!-- Image and text -->
<nav class="navbar"  style="background-color: bisque;">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/wapen-amsterdam.png"
         height="70" class="d-inline-block align-top m-2"
         alt="Amsterdam">
  </a>
  <div class="row text-center">
  <h1 class="text-primary">Scooters Amsterdam</h1>
  </div>
  <h5 class="text-bottom text-primary d-flex justify-content-end">Best scooters!</h5>

  <img src="../assets/images/scooterqr.png"
       height="90" class="d-inline-block align-top"
       alt="Scooter">
</nav>
