<!-- Image and text -->
<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/wapen-amsterdam.png"
         height="70" class="d-inline-block align-top m-2"
         alt="Amsterdam">
  </a>
  <div class="d-flex-row text-primary">
      <h1 class="d-flex justify-content-center text-fluid">Scooters Amsterdam</h1>
    <div class="row">
    <h5 class="col-6 text-fluid">Datum hier</h5>
    <h5 class="col-6 text-fluid text-right">Best scooters!</h5>
    </div>
  </div>
  <img src="../assets/images/scooterqr.png"
       height="90" class="d-inline-block align-top"
       alt="Scooter">
</nav>

