<h2>A list of scooters in your neighbourhood:</h2>
<table class="table table-bordered text-center mx-auto">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Tag</th>
    <th scope="col">Status</th>
    <th scope="col">GPS Location</th>
    <th scope="col">Total Mileage</th>
    <th scope="col">Battery Charge</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{scooters[1].id}}</td>
    <td>{{scooters[1].tag}}</td>
    <td>{{scooters[1].status}}</td>
    <td>{{scooters[1].gpsLocation}}</td> <!-- HIER *NgIf toevoegen om te checken of scooter in gebruik is-->
    <td>{{scooters[1].mileage}} Km</td>
    <td>{{scooters[1].batteryCharge}} %</td>
    </tr>
  </tbody>
</table>
<button class="btn-primary float-end mx-5" (click)="ngOnInit()">New Scooter</button>
