<h2>A list of scooters in your neighbourhood:</h2>
<table class="table table-bordered text-center mx-auto">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Tag</th>
    <th scope="col">Status</th>
    <th scope="col">GPS Location</th>
    <th scope="col">Total Mileage</th>
    <th scope="col">Battery Charge</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let scooter of scooters">
    <td>{{scooter.id}}</td>
    <td>{{scooter.tag}}</td>
    <td>{{scooter.status}}</td>
    <td *ngIf="scooter.status !== 'INUSE'; else inuse">{{scooter.gpsLocation}}</td>
    <ng-template #inuse><td></td></ng-template>
      <td>{{scooter.mileage}} Km</td>
    <td>{{scooter.batteryCharge}} %</td>
    </tr>
  </tbody>
</table>
<button class="btn-primary float-end mx-2" (click)="onNewScooter()">New Scooter</button>
