<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Tag</th>
    <th scope="col">Status</th>
    <th scope="col">GPS Location</th>
    <th scope="col">Total Mileage</th>
    <th scope="col">Battery Charge</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>30003</td>
    <td>Owdpei26</td>
    <td>INUSE</td>
    <td></td> <!-- HIER *NgIf toevoegen om te checken of scooter in gebruik is-->
    <td>1874 Km</td>
    <td>80 %</td>
    </tr>
  </tbody>
</table>

<button class="btn-primary" (click)="onNewScooter()">New Scooter</button>
