<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Scooters
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/scooters/overview31">All scooters list</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/scooters/overview32">Scooters edit (component store)</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/scooters/overview33">Scooters edit (from service)</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/scooters/overview34">Scooters edit (routed)</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/scooters/overview37">Scooters REST adaptor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            My trips
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item">Last week</a></li>
            <li><a class="dropdown-item">Last month</a></li>
          </ul>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item "><a class="nav-link " routerLink="/sign-up">Sign up</a></li>
        <li class="nav-item "><a class="nav-link" routerLink="/sign-in">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>
