<h2>A list of scooters in your neighbourhood:</h2>

<table class="table table-bordered text-center mx-auto">
  <thead>
  <tr>
    <th scope="col">Tag</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let scooter of scooters; let i = index;"> <!-- (click)="selectedScooter(i)" -->
    <td>{{scooter.tag}}</td>  <!-- [style.background-color] = "selected[i]  ? 'green' : 'transparant'"-->
    <td>{{scooter.status}}</td>
  </tr>
  </tbody>
</table>
<button class="btn-primary float-end mx-2" (click)="onAddScooter()">Add Scooter</button>

<div *ngIf="clicked === false; else detail32">Select a scooter from the left page!</div>
<ng-template #detail32><ng-container><app-detail32></app-detail32></ng-container></ng-template>

